.navbar {
    padding: 15px 75px;
    background: #ffffff;
    // border-bottom: 0.5px solid rgba(0, 0, 0, .2);

    @media (max-width: 576px) {
        padding: 15px 25px;
        // width: 100%;
        // margin: 0 auto;
    }

    @media (min-width: 1200px) {
        padding: 15px 25px;
        width: 100%;
        margin: 0 auto;
    }

    .menuWrap {

        @media (min-width: 768px) {
            display: contents;
        }

        .menuBar:hover {
            cursor: pointer;
            color: black;
        }
    }


}