.footerWrap {
    padding: 0 75px;
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
        padding: 50px 25px;
    }

}


.contactFooter {
    padding: 0 75px;
    background-color: #767676;
    display: flex;
    justify-content: center;

    @media (max-width: 576px) {
        padding: 0px 25px;
    }


    .contactButton {
        @media (max-width: 768px) {
            padding-top: 20px;
        }
    }

    .contactText {
        color: #c5c5c5;
        margin: 0;
        
        @media (max-width: 768px) {
            text-align: center;
            font-size: 25px;
        }

    }
}

.centerFooter {
    padding: 100px 75px;
    display: flex;
    justify-content: center;
    background: #121212;
    min-height: 300px;

    @media (max-width: 576px) {
        padding: 50px 25px;
    }

    .arvis {
        display: grid;

        @media (max-width: 768px) {
            display: contents;
        }

        .arvisDesc {
            padding-right: 100px;

            @media (max-width: 768px) {
                text-align: center;
                padding-right: 0px;
                padding-bottom: 40px;
            }
        }
    }

    .sitemap {
        @media (max-width: 768px) {
            padding: 40px 0 0 0px;
        }

    }
}