.productsWrap{
    padding: 50px 75px;
    display: flex;
    justify-content: center;
    background-color: #e7f1f8;
    min-height: 450px;

    @media (max-width: 576px) {
        padding: 50px 25px;
    }

    .productsCard {
        display: grid;
        padding: 20px;
    
        @media (max-width: 576px) {
            padding: 20px 0;
        }
    }
}
