.valuesWrap {
    padding: 0 75px;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    min-height: 600px;

    @media (max-width: 576px) {
        padding: 50px 25px;
    }

}