@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Canela";
    src: url("/fonts/Canela/Canela-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Canela";
    src: url("/fonts/Canela/Canela-Bold.ttf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography {
    font-family: 'Canela', serif;
    // font-weight: 400;
}

.ant-typography {
    font-family: 'Open Sans', sans-serif;
    color: #3f4751;
}

.ant-btn-primary {
    // background: #E47E80;
    // border-color: #E47E80;
    border-radius: 5px;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    // background: #e1888a;
    // border-color: #e1888a;
}

.ant-card-body {
    padding: 10px;
}

.ant-divider-horizontal {
    margin: 20px 0;
}

.ant-card {
    border-radius: 7px;
}