.ptOne {
    padding-top: 20px;
}

.ptTwo {
    padding-top: 40px;
}

.phOne {
    padding: 0 20px;
}

.ptOne {
    padding: 20px 0;
}

.prOne {
    padding-right: 20px;
}

.plOne {
    padding-left: 20px;
}

.mtHalf {
    margin-top: 10px;
}

.mtOne {
    margin-top: 20px;
}

.mtTwo {
    margin-top: 40px;
}

.mrOne {
    margin-right: 20px;
}

.mlOne {
    margin-left: 20px;
}

.mbOne {
    margin-bottom: 20px;
}

.mbHalf {
    margin-bottom: 10px;
}

.mhOne {
    margin: 0 20px;
}

.mvOne {
    margin: 20px 0;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.flexRow{
    display: flex;
    flex-direction: row;
}